.bg_img{
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideOutFromRight {
    
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(100%);
    }
    
  }